
arrow==1.2.3
asgiref==3.5.2
asn1crypto==1.5.1
astroid==2.11.3
asttokens==2.2.1
attrs==23.1.0
autopep8==1.4.4
backcall==0.2.0
beautifulsoup4==4.11.1
billiard==3.6.4.0
bleach==6.0.0
braintree==4.16.0
Brotli==1.0.9
celery==5.2.7
certifi==2019.3.9
cffi==1.15.0
channels==4.0.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudinary==1.34.0
colorama==0.4.4
comm==0.1.3
crispy-bootstrap5==0.6
cryptography==39.0.0
cssselect2==0.6.0
dateparser==1.1.7
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.6.0
dill==0.3.4
distlib==0.3.4
dj-database-url==1.2.0
Django==4.0.5
django-allauth==0.51.0
django-bona-blog==1.1.4
django-bootstrap-pagination==1.7.1
django-braces==1.15.0
django-braintree==1.3.4
django-celery-beat==2.1.0
django-celery-results==2.4.0
django-ckeditor==6.4.2
django-cors-headers==3.13.0
django-countries==5.3.3
django-crispy-forms==1.14.0
django-dbconn-retry==0.1.7
django-debug-toolbar==1.10.1
django-disqus==0.5
django-elasticsearch-dsl==7.3
django-embed-video==1.4.4
django-environ==0.9.0
django-extensions==3.2.1
django-filter==22.1
django-flower==1.0.0
django-grappelli==3.0.4
django-heroku==0.3.1
django-hosts==5.2
django-htmx==1.8.0
django-jazzmin==2.5.0
django-jinja==2.10.2
django-js-asset==2.0.0
django-like-systems==0.0.1
django-localflavor==3.1
django-on-heroku==1.1.2
django-pagination-bootstrap==2.4.6



gunicorn==20.1.0

humanize==0.5.1



Pillow==9.1.1
pipenv==2022.6.7

psycopg2==2.9.3
psycopg2-binary==2.9.7

pyOpenSSL==23.1.1
pyparsing==3.0.8
PyPDF3==1.0.6
pyphen==0.12.0

python-dotenv==0.20.0

toml==0.10.2
tomli==2.0.1
tornado==6.2
tqdm==4.64.1

tzdata==2022.1
tzlocal==4.2


whitenoise==6.2.0
